.three-reasons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 20px;
  overflow: hidden; /* Asegúrate de que los elementos no se salgan del contenedor */
}

.text-section,
.image-section {
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 1.8s ease-in-out, transform 1.8s ease-in-out; /* Transiciones suaves */
}

.text-section {
  transform: translateX(-50px); /* Texto desplazado hacia la izquierda */
}

.image-section {
  transform: translateX(50px); /* Imagen desplazada hacia la derecha */
}

.text-section.animate {
  opacity: 1; /* Hacer visible */
  transform: translateX(0); /* Texto vuelve a su posición original */
}

.image-section.animate {
  opacity: 1; /* Hacer visible */
  transform: translateX(0); /* Imagen vuelve a su posición original */
}

.subtitle {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  color: #aaa;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title {
  font-family: 'Poppins';
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-item {
  border: none;
  border-bottom: 2.8px solid #101621;
  cursor: pointer;
  padding: 10px 0;
}

.accordion-header {
  display: flex;
  justify-content: space-between; /* Título a la izquierda y flecha a la derecha */
  align-items: center; /* Alineación vertical */
}

.accordion-header h3 {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 30px;
  margin: 0;
  flex-grow: 1; /* Asegura que el título ocupe el espacio disponible */
}

.accordion-icon {
  font-size: 24px; /* Tamaño de la flecha */
  color: black; /* Color de la flecha */
  transition: transform 0.3s ease; /* Animación de rotación */
}

.accordion-item.active .accordion-icon {
  transform: rotate(180deg); /* Rotar flecha al expandirse */
}

.accordion-item p {
  font-family: "Roboto", serif;
  text-align: left;
  font-size: 20px;
  color: #666;
  margin-top: 10px;
}

.helpdesk-image {
  width: 100%;
  border-radius: 8px;
  margin-left: 8%;
}
